body {
    font-family: "Comfortaa";
}

.body__fixed {
    overflow: hidden;
}

.container {
    width: 100%;
    background-color: rgb(42, 42, 42);
    height: 100px;
    
}

.header_inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 32px;
    
}

.site__logo {
    height: 80%;    
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    max-height: 100%;
    margin: 20px;
    box-sizing: border-box;
    
}

.work__app {
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 20px;
      

}

.limit, .wallet , .expense__score{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.left__column {
    padding-right: 20px;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}


.description__app {
    border: 2px solid black;
    border-radius: 40px;
    max-height: 100%;
    width: 25%;
    padding: 20px;
    
}

.description__tittle {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer_container {
    width: 100%;
    background-color: rgb(42, 42, 42);
    height: 100px;
    
    
    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    text-decoration: none;
    color: white;
    font-size: 32px;
}

.footer_content {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.set__limit {
    background-image: url(/Resources/edit.png);
    
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: none;
    border: none;
}

.well__status {
    color: green;
}

.bad__status {
    color: red;
}

/* Стиль для попапа */

.expense__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    box-sizing: border-box;

    transition: 0.3s;
}

.expense__popup__content {
    width: 30%;
    background-color: white;
    height: 20%;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.expense__popup__open {
    opacity: 1;
    visibility: visible;
}

.expense__close__button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40%;
    right: 35%;
    background-color: rgb(151, 0, 0);
}

.column__popup {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.second__column__popup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.limit__popup__input {
    width: 60%;
}

.limit__button {
    width: 30%;
    
}

.limit__button , .incr__button {
    background-color: rgb(96, 96, 96);
    color: white;
    border-radius: 10%;
}

.limit__button:hover , .incr__button:hover {
    background-color: white;
    color: rgb(96, 96, 96);
    transition: 0,3s;

}



/* Классы для позиционирования 
каждого элемента*/

.clear__expense__score {
    background-color: rgb(96, 96, 96);
    color: white;
    cursor: pointer;
    width: 50%;
}

.clear__expense__score:hover {
    
    background-color: white;
    color: rgb(96, 96, 96);
    cursor: pointer;
    transition: 1s;
}

.clear__expense__score:active {
    transition: 0s;
}

select:hover{
    color: white;
    background-color: rgb(96, 96, 96);
    transition: 1s;
}

.input__debet {
    width: 50%;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.input__button {
    cursor: pointer;
    background-color: rgb(96, 96, 96);
    color: white;
}

.input__button:hover {
    cursor: pointer;
    background-color: white;    
    color: rgb(96, 96, 96);
}

.category__select {
    margin-bottom: 5px;
    width: 50%;
}


/* Медиа Стили */
@media (max-width: 767px) {
    .container {
        height: 100px;
    }

    .header_inner {
        flex-direction: column;
        box-sizing: border-box;
        font-size: 16px;
        padding: 10px;
        
    }

    .site__logo {
        height: 40%;  
        margin-top: 5px;
        margin-bottom: 5px;  
    }

    p {
        margin-bottom: 5px;
    }

    .app {
        flex-direction: column;
    }

    .work__app {
        width: 100%;
        margin-bottom: 20px;
    }

    .description__app {
        width: 100%;
        box-sizing: border-box;
        
    }

    .footer_container {
        flex-direction: column;
        font-size: 16px;
        box-sizing: border-box;
    }

    .footer_content {
        margin-bottom: 10px;
    }
    
    .expense__popup__content {
        width: 75%;
    }

    .expense__close__button {
        right: 15%;
    }

    .column__popup {
        flex-direction: column;
    }

    .limit__button {
        width: 60%;
    }

}






